version: "3.9"

services:
  fastapi:
    build: ./app
    command: uvicorn main:app --reload --host 0.0.0.0
    volumes:
      - ./app:/app
    expose:
      - 8000

  
  nginx:
    image: nginx:1.19.8-alpine
    depends_on:
      - fastapi
    ports:
      - "80:80"
    volumes:
      - ./nginx-conf.d:/etc/nginx/conf.d

networks:
  app:
