version: "3.9"

services:
  fastapi:
    build: ./app
    command: uvicorn main:app --reload --host 0.0.0.0
    volumes:
      - ./app:/app
    ports:
      - "8001:8000"
    restart: always
    links:
      - db
    networks:
      - app-network


networks:
  app-network:
    driver: bridge