[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.85.0"
uvicorn = "*"
sqlalchemy = "==1.4.41"
requests = "==2.27.1"
psycopg2 = "*"
python-decouple = "==3.6"
pyjwt = "==2.4.0"
psycopg2-binary = "*"
pydantic = {extras = ["email"], version = "*"}
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.10"
